#gameDiv{
    font-family: 'Copperplate';
    border: 8px solid;
    border-color:#faa28e ;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(to bottom left , #D6D6D6,#4F4F51,#2C2B30 ,#2C2B30 ,#4F4F51 ,  #D6D6D6 101% );
    text-align: center;

}
.choiceBtn{
    line-height: 30px;
    width: 150px;
    background-color: #cfc9c9;
}
#playerText{
    color : rgb(255, 255, 255);
}
#computerText{
    color: rgb(255, 250, 250);
}
#resultText{
    color: rgb(255, 250, 250);
}
